.grow { 
    background-color: rgb(24, 26, 27);
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .card-img-top {
      height: 30vw;
    }
}

.header{
    background-color: #a892ee;
}

.box{
    border-color: #40005d;
    background-color: #40005d;
}

.back{
    background-color: #3f3f3f;
}

div.loader {
    font-size: 100px;
}